html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: black;
    display: flex;
    height: inherit;
    justify-content: center;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-button{
    background-color: hsl(35, 100%, 55%);
}

.operator-button:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-button:active{
    background-color: hsl(35, 100%, 75%);
}

.wrapper{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

.screen{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}

.double{
    flex-basis: 49%;
}

.triple{
    flex-basis: 75%;
}